export DEVELOPMENT_CERTIFICATE_NAME="Phone Developer: Devon Blandin (7JZR86ANUH)"
export DEVELOPMENT_PROVISIONING_PROFILE_PATH="/Users/devon/Library/MobileDevice/Provisioning Profiles/DD6A8466-0EF0-4757-BA4F-7E0B498FC1C9.mobileprovision"

export RELEASE_CERTIFICATE_NAME="iPhone Distribution: gravitytank (YFS345H443)"
export RELEASE_PROVISIONING_PROFILE_PATH="/Users/devon/Library/MobileDevice/Provisioning\ Profiles/21AFC998-398E-4DF3-97B4-54AF53D5162A.mobileprovision"
